<div class="landing-page">

    <div class="navbar">
        <h1 class="logo">tripplanner</h1>
    </div>
            
    <div class="middle-container">
        <%= render "session/login" %>
    </div>    

    <footer class="bottom-space">
    </footer>

</div>

