<div class="body-first-page">
  <div class="container-1">
    <div class="login-box">
    <h1 class="title-1">day-by-day</h1>
    <h2 class="title-2">trip planner</h2>
      <div class="login-buttons">
        <!-- start SIGN IN -->
        <div class ="start-buttons">
          <span class="badge badge-light" id="sign-in-button" data-toggle="modal" data-target="#signInModal">
            Login
          </span>
            <div class="credentials-error">
              <%= @error_message %>
            </div>
              <div class="credentials-error">
                <%= @error_message2 %>
              </div>
        </div>

        <!-- start SIGN UP -->
        <div class ="start-buttons">
          <span class="badge badge-light" id="sign-up-button" data-toggle="modal" data-target="#signUpModal">
            Sign Up
          </span>
        </div> <!-- start-buttons -->
      </div> <!-- login-buttons -->
    </div> <!-- login-box -->
  </div> <!-- container-1 -->
</div> <!-- body-first-page -->


<!-- Sign in Modal -->
<form action="/login" method="post">
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
      </div> <!-- bootstrap 4 -->
      <div class="modal-body">

<%= form_with(url: "/login", method: "post") do %>
  <div>
    <label>
      <input type="text" name="email" placeholder="Email address" required autofocus/>
    </label>
  </div>
  <div>
    <label>
      <input type="password" name="password" placeholder="Password" required/>
    </label>
    <div class="buttons">
      <button type="submit" class="btn btn-secondary" id="login-button">Sign In</button>
    </div>
  </div> <!-- bootstrap 6 -->
<% end %>

      </div>
  </div> <!-- bootstrap 5 -->
</form> <!-- sign in form -->
</div> <!-- bootstrap 2 -->
</div> <!-- bootstrap 1 -->


<!-- Sign up Modal -->
<form action="/new_user" method="post">
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
      </div>
      <div class="modal-body">

<%= form_with(url: "/new_user", method: "post") do %>
  <div>
    <label>
      <input type="text" name="name" placeholder="name" required/>
    </label>
  </div>
  <div>
    <label>
      <input type="email" name="email" placeholder="email" required/>
    </label>
  </div>
  <div>
    <label>
      <input type="password" name="password" placeholder="password" required/>
    </label>
    <div class="buttons">
      <button type="submit" class="btn btn-secondary" id="create-button">Create Account</button>
    </div>
  </div>
<% end %>

    </div>
  </div>
</div>
</div>
</form>
</div>
</div>
</div> 
</div> 
<!-- end SIGN UP -->
