/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 
 @import "bootstrap";

 body {
     text-align: center;
     font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }

  
  .card-signin {
    border: 0;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1rem;
  }
  .cal-card-title {
    margin: 0 !important;
    font-size: 0.8rem !important;
    text-align: center;
  }
  // .card-text {
  //   margin: auto !important;
  // }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 5rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
 
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }

  .login-page {
      height: 100vh;
      background-image: url(map-1);
      background-size: cover;
  }

  .credentials-error {
      color: red;
      font-size: 1rem;
  }

  .card {
      margin: 0;
      height: 30vh;
      max-height: 30vh;
      max-width: 14.28vw;
      width: 14.28vw;
      padding: 0;
  }

  .table th, .table td {
    padding: 0;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.simple-calendar {
  .day {
      // color:red;
  }

  .wday-0 {
      // background-color:red;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {
    // background-color: grey;
  }

  .prev-month {}
  .next-month { }
  .current-month {
    // background-color: grey;
  }

  .has-events {}
}

.top-input {
  // width: 40vw;
}

.enquire-form {
  text-align: center;
}

.container-2 {
  text-align: center;
  width: 70vw;
  margin: 0;
}

#sign-in-button, #sign-up-button {
  padding: 0.6rem;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
}
#sign-in-button:hover, #sign-up-button:hover {
  font-size: 1rem;
}
// #sign-in-button {
//   float: right;
// }
#sign-up-button {
  margin-top: 1vh;
  // float: left;
}


.body-first-page {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://res.cloudinary.com/gabrielcon6/image/upload/v1572131046/map-1_r9ysi1.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  position: fixed;
}

.container-1 {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding-top: 10vh;
}
.login-box{
    margin: 10vh auto;
    // border: 1px solid black;
    border-radius: 2rem;
    height: 50vh;
    width: 30vw;
    background-color: rgba(244, 249, 249, 0.7);
}

.title-1 {
  font-family: 'Long Cang', cursive;
  font-size: 4rem;
  font-weight: 900;
}

.title-2 {
  font-family: 'Poiret One', cursive;
  font-size: 1.7rem;
}
.login-buttons {
  margin-top: 10vh;
}
h5{
  font-size: 0.8rem;
  font-family: 'Poiret One', cursive;
}
label {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
}
.modal-dialog,
.modal-content {
  height: 52vh;
  text-align: center;
}
.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: scroll;
  margin: auto;
}
.modal-header {
  display: inline !important;
  margin-left: 2vw;
}
#login-button, #create-button {
  border-radius: 13px;
  font-size: 0.6rem;
}
#login-button:hover, #create-button:hover {
  font-size: 0.9rem;
}
.buttons {
  margin-top: 3vh;
}
.modal-content {
  border-radius: 1.5rem !important;
}
input {
  border-radius: .5rem;
  text-align: center;
}
//HOMEPAGE STYLES
.homepage, .calendar-page {
  background-image: url("https://res.cloudinary.com/gabrielcon6/image/upload/v1572252933/map-transparent_zfvuwu.png");
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}
.homepage {
  position: fixed; //????????
}
.card-container {
  text-align: center;
}
.planning,.new-trip-button {
  border-radius: 13px !important;
  font-size: 0.7rem !important;
}
.planning:hover {
  font-size: 0.9rem !important;
  background-color: black !important;
}
.top-title {
  padding: 1vh 0;
  font-family: 'Poiret One', cursive;
  text-align: center;
  // background-color: rgba(255, 255, 255, .5);

}
.new-trip-button {
  text-align: center;
}
.card-deck {
  margin: 5vh auto;
  text-align: center;
}
.card {
  border-radius: 1rem;
}
.card:hover {
  background-color: #dfe1e3 !important;
}
#logout-button a {
  text-decoration: none !important;
  color: grey !important;
}
.logout-button {
  text-align: right;
  margin-top: -6vh;
}
#logout-button {
  border-radius: 1rem;
  padding: .4rem;
  font-size: 0.8rem;
}
.card-deck {
  position: relative !important;
  display: inline-flex !important;
}
//CALENDAR PAGE STYLE
.calendar-page {
  text-align: center;
  height: 100vh;
}
.table th, .table td {
  padding: 0 !important;
}
.table thead th {
  text-align: center;
}
.activity-text {
  cursor: pointer
}
.activity-text:hover {
  font-size: 1.1rem;
}
.cal-top-buttons-container {
text-align: right;
margin-top: -15vh;
}
.cal-top-buttons {
  display: inline-block;
}
#home-button a, #logout-button-cal a  {
  text-decoration: none !important;
  color: grey !important;
}
.home-button {
  text-align: right;
  float: left;
}
#home-button, #logout-button-cal {
  border-radius: 1rem;
  padding: .4rem;
  font-size: 0.8rem;
}
.logout-button-cal {
  text-align: right;
  float: right;
}


