/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate
 */


 
 @import "bootstrap";


$color-midnight-express: #00072f;
$titles: 'Raleway', sans-serif;
$subtitles: 'Roboto', sans-serif;


/*******************************************************************
LANDING PAGE
*******************************************************************/
.landing-page, 
.homepage 
{
  height: 100vh;
  max-height: 100vh;
  background: linear-gradient(157deg, rgb(188, 203, 255) 20%, rgba(175, 220, 235, 0.5) 60%);
  position: relative;  
  font-family: $subtitles;
  font-weight: 300;
}
.middle-container {
  background-image: url("https://res.cloudinary.com/gabrielcon6/image/upload/v1583910872/hammock-3_cyktvz.jpg");
  background-size: 100% 108%;
//   filter: brightness(75%);
  width: 100vw;
  height:80%;
}

.navbar {
  height: 10vh;
  font-family: 'Syncopate', sans-serif;
  background-color: white;
  display: inline-block;
}

a { 
	color: inherit;
 } 

.logo {
  font-size: 1.7rem;
  letter-spacing: 1.2rem;
  padding-top: 2vh;
  padding-left: 1vh;
  color: $color-midnight-express;
  float: left;
}

.home-button:hover {
  text-decoration: none;
}

.bottom-space {
  position: absolute;
  bottom: 0;
  height: 10vh;
  background-color: white;
  width: 100vw;
}
.login-button {
  font-family: $subtitles;
  letter-spacing: 0.3rem;
  float: right;
}
body
{
	margin: 0;
	padding: 0;
	background-size: cover;
	font-family: sans-serif;
}
.login-box, .sign-up-box
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.03);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
	font-family: $subtitles;
}

.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}
h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #efed40;
	text-align: center;
}
.login-box p, .sign-up-box p 
{
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	color: #30343b;
	font-family: $subtitles;
	letter-spacing: 0.25rem;
}
.login-box input, .sign-up-box input
{
	width: 100%;
	margin-bottom: 20px;
	color: black;
}
.login-box input[type="text"],
.login-box input[type="password"],
.sign-up-box input[type="name"],
.sign-up-box input[type="password"],
.sign-up-box input[type="text"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: $color-midnight-express;
	font-size: 16px;
	letter-spacing: 0.15rem;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.login-box input[type="submit"],
.sign-up-box input[type="submit"],
.buttons,
.buttons a
{
	background:$color-midnight-express;
	line-height:40px;
	border-radius:20px;
	color:#fff;
	opacity:0.7;
	text-transform:uppercase;
	text-decoration:none;
	font-family:sans-serif;
	letter-spacing:4px;
	transition:5s;
	overflow:hidden;	
}
.login-box input[type="submit"]:hover,
.sign-up-box input[type="submit"]:hover,
.buttons:hover,
.buttons a:hover
{
	color:#fff;
	box-shadow:-15px 0 50px rgba(255,20,152,0.5),15px 0 50px rgba(122,0,255,1);
	text-shadow:0 0 10px rgba(255,255,255,0.50),0 0 25px rgba(255,255,255,0.50),0 0 30px rgba(255,255,255,0.50)
}
.login-box input[type="submit"]:before,
.sign-up-box input[type="submit"]:before,
.buttons:before,
.buttons a:before
{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:40px;
	height:40px;
	border-radius:50%;
	background:rgba(255,20,152,0);
	filter:blur(4px);
	transition:5s;
	z-index:-1;	
}
.login-box input[type="submit"]:hover:before,
.sign-up-box input[type="submit"]:hover:before
{
background:rgba(255,20,152,1);
transform:scaleX(5);	
}
.login-box input[type="submit"]:after,
.sign-up-box input[type="submit"]:after,
.buttons:after,
.buttons a:after
{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:40px;
	height:40px;
	border-radius:50%;
	background:rgba(122,0,255,0);
	filter:blur(4px);
	transition:5s;
	z-index:-1;	
	mix-blend-mode:lighten;
}
.login-box input[type="submit"]:hover:after,
.sign-up-box input[type="submit"]:hover:after
{
	background:rgba(122,0,255,1);
	transform:scaleX(5);
}
.back,
.create
{
	color: #30343b;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	font-family: $subtitles;
	font-weight: 300;
}
.back:hover,
.create:hover
{
	color: white;
}
navbar-buttons {
	display: inline-block;
	text-decoration: none;
	color: $color-midnight-express;


}
.profile-button, 
.new-trip-button, 
.logout-button,
.edit-trip-button
{
	display: inline-block !important;
	text-decoration: none;
	margin: 0;
	padding: 0 1.5rem;
	font-size: 1.2rem;
}
.profile-button a, 
.new-trip-button a, 
.logout-button a,
.edit-trip-button a
{
	color: $color-midnight-express;
}
.profile-button a:hover, 
.new-trip-button a:hover,
.edit-trip-button a:hover
{
	color: grey !important;
	cursor: pointer;
}

.logout-button a:hover 
{
	color: red;
}

/*******************************************************************
NAVBAR
*******************************************************************/

.navbar-buttons {
	float: right;
	padding-top: 2vh;
}

/*******************************************************************
DASHBOARD
*******************************************************************/

.top-title {
	padding: 2vh 0 3vh 0;
	text-align: center;
	font-weight: 700;
	letter-spacing: 0.7rem;
	color: $color-midnight-express;
	font-family: $titles;
	font-size: 2.1rem;

} 
a:hover, a:visited, a:link, a:active
{
	text-decoration: none !important;
	color: $color-midnight-express;
}

.card {
	width: 10vw;
	max-width: 10vw;
	height: 20vh;
	text-align: center;
	padding: 4vh 0;
	color: #00072f;
	align-self: center !important;
		letter-spacing: 0.1rem;

}
.card-title {
	// font-family: $titles;
	// letter-spacing: 0.1rem;
	// font-weight: bold;
}

.dash-cards {
	box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.dash-cards:hover {
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
}

.new-trip-modal:hover{
	cursor: pointer;
}

.add-more-trips {
	color: #4760bd;
	font-weight: 700;
}
.card:hover, card-body:hover {
	color: grey;
}
.modal-content {
	font-family: $subtitles;
	margin-top: 20vh;
	border-radius: 0 !important;
}
.modal-title{
	letter-spacing: 4px;
}
.modal-header {
	align-self: center;
}
.modal-body {
    text-align: center;
}
input#destination{
	text-align: center;
}
input#start_date, input#end_date{
	text-align: end;
}
.buttons, .delete-button {
	background: #00072f;
    line-height: 40px;
    border-radius: 20px;
    color: #fff;
    opacity: 0.7;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 4px;
    transition: 5s;
	overflow: hidden;
	padding: 0 1.1rem;
}
/*******************************************************************
TRIP CALENDAR
*******************************************************************/
.calendar-page{
	min-height: 100vh;
	background: linear-gradient(157deg, rgb(188, 203, 255) 20%, rgba(175, 220, 235, 0.5) 60%);
	position: relative;  
	font-family: $subtitles;
	font-weight: 300;
}
.middle-title{
	text-align: center;
	color: $color-midnight-express;
	font-weight: 300;
	font-family: $subtitles;
}
.fa-plane-departure, .fa-plane-arrival{
	margin-right: 1vw;
}
.calendar-heading{
	text-align: center;
	font-family: $subtitles !important;
}
.calendar-heading a{
	padding: 0 2vw;
	color: grey;
	cursor: pointer;
}
.calendar-heading a:hover{
	color: $color-midnight-express;
	cursor: pointer;
}
.calendar-title{
	font-size: 1.2rem;
	color: $color-midnight-express;
}

th, tr, td, tbody {
	text-align: center !important;
}
.prev-month, .next-month {
	background-color: lightgrey;
}

.cal-date{
	font-size: 0.9rem;
	margin-top: 1vh;
}

.table td {
	padding: 0 !important;
	min-height: 20vh;
	max-height: 20vh;
	height: 30vh;
	width: 14vw;
	border: 1px white solid;
	position: relative;
}
.card-link {
  bottom: 0;
  cursor: pointer;
  text-align: center;
  position: absolute;
	padding: 0;
	margin-left: -0.2vw;
}
.card-link:hover {
  cursor: pointer;
}
.delete-button {
	background-color: white;
}
.delete-button a {
	color: red;
	text-decoration: none;
}
.delete-button a:hover {
	color: white;
	text-decoration: none;
}
.delete-button:hover {
	background-color: red;
}
input#title, input#description, input#time{
	text-align: center;
	font-family: $subtitles !important;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.activity-text {
	position: absolute;
	left: 0;
	font-family: $subtitles !important;
	font-size: 0.9rem;
	background-color: none;
	overflow: hidden;
	color: $color-midnight-express;
}
/*******************************************************************
ACTIVITY PAGE
*******************************************************************/
.activity-page {
	// height: 100vh;
	text-align: center;
	text-align: -webkit-center;
	// width: 100vw;
}

.activity-list, .activity-list-title{
	border: 1px solid white;
	width: 40vw;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: $subtitles;
	letter-spacing: 0.2rem;
	padding:2vh 0;
	vertical-align: center;
}
.activity-list-box{
	align-self: center;
	border: 1px solid white;
	width: 40vw;
	margin-top: 5vh;
}
.activity-list-title{
	color: grey;
	font-size: 0.9rem;
}
.activity-buttons {
	// display: inline-block;
	width: 100vw;
	margin: 2vh 0 0 0;
}
.edit-activity-button, .back-button {
	display: inline-block;

}
.buttons a {
	color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.card {
		width: 25vw;
		max-width: 25vw;
		height: 18vh;
	}
	.table td {
		min-height: 17vh;
		max-height: 17vh;
		height: 17vh;
	}
}
