<div id="activity-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div>
        <p> --- put all your show.html.erb code here </p>
      </div>
    </div>
  </div>
</div>