<!-- Add Activity Modal -->
<div class="modal fade" id="newActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">add new activity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <div class="container">
            <%= form_with(url: "/new/activities/#{(@this_trip.id).to_i}", method: "post") do %>
            <div class="row">
            <div class="col-md-0 mx-auto">
                <div class="myform form">
                <form>
                    <div class="form-group">
                    <input type="text" name="title"  class="form-control my-input" 
                    id="title" placeholder="title" maxlength="18" required>
                    </div>
                    <div class="form-group">
                    <input type="time" name="time"  class="form-control my-input" 
                    id="time" placeholder="time" >
                    </div>
                    <div class="form-group">
                    <input type="text" name="description"  class="form-control my-input" 
                    id="description" placeholder="description">
                    </div>
                    <div class="form-group">
                    <label> date </label>
                    <input type="date" name="start_date"  class="form-control my-input" 
                    id="start_date" value="<%= @today %>" required>
                    </div>
                    <div class="">
                    <button type="submit" class="buttons"id="create-button">add activity</button>
                    </div>
                </form>
                    </div> 
                </div>
                </div>
            </div>
            </div>
            <% end %>
        </div>
        <div>
    </div>
    </div>
</div>
<!-- end of Add Activity Modal -->