    <div class="navbar">
        <a class="home-button" data-method="get" href="/home" title="home"> 
            <h1 class="logo">tripplanner</h1></i> 
        </a>
        <div class="navbar-buttons">
            <div class="edit-trip-button">
                <a data-toggle="modal" data-target="#editTripModal" title="edit this trip">
                    <i class="fas fa-edit"></i>
                </a>
            </div>
            <div class="profile-button">
                <a data-method="get" href="/profile" title="your profile"> 
                    <i class="fas fa-user"></i>
                </a>
            </div>
            <div class="logout-button">
                <a data-method="get" href="/logout" title="logout"> 
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
    </div>
