<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  New Trip
</button>

<form action="/index/<%=@this_trip_id%>" method="post">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">

<h1>New Activity</h1>

<%= form_with(url: "/index/#{@this_trip_id}", method: "post") do %>

  <label>title:</label>
  <input type="text" name="destination" required>
    <br>
  <label>time:</label>
  <input type="time" name="start_date" required>
    <br>
  <label>description:</label>
  <input type="text" name="start_date" required>
    <br>
  <label>start date:</label>
  <input type="date" name="start_date" required>
    <br>
  <label>end date:</label>
  <input type="date" name="start_date" required>
    <br>

<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">create itinerary</button>
      </div>
    </div>
  </div>
</div>
</form>
</div>
</div>