

<h1>New Activity</h1>

<%= form_with(url: "/activities/new", method: "post") do %>

  <label>title:</label>
  <input type="text" name="title" required>
    <br>
  <label>time:</label>
  <input type="text" name="time">
    <br>
  <label>description:</label>
  <input type="text" name="description">
    <br>
  <label>start date:</label>
  <input type="date" name="start_date" required>
    <br>
  <label>end date:</label>
  <input type="date" name="end_date" required>
    <br>

        <button type="submit" class="btn btn-primary">add activity</button>
<% end %>
 